# Generated data - too large for GitHub
data/csv/*.csv
data/npt/*.npt
data/pcap/pcap_os_split/*.pcap
data/pcap/*.pcap
data/npy/*.npy

# nprint build artifacts
configure/nprint-1.2.1/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
